<div class="login-container">
  <div class="login-header">
      <img src="/assets/image/chair-grp.svg" class="logo-icon" alt="Logo Icon">
  </div>

  <h1 class="login-title">Hello!<br>Welcome Back</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              Please enter a valid email.
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is required.
          </mat-error>
      </mat-form-field>

      <div *ngIf="loginError && !loginDisabled" class="error-message">
          <mat-icon>error</mat-icon> Invalid login credentials.
      </div>
      <div *ngIf="loginDisabled" class="error-message">
          <mat-icon>error</mat-icon> Too many login attempts. Please wait 1 minute before trying again.
      </div>

      <div class="forgot-password" (click)="onForgotPassword()">Forgot password</div>

      <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loginDisabled">
              Log in
          </button>
      </div>
      
      <div class="sign-up" (click)="onSignup()">Don't have an account? Sign up</div>
  </form>
</div>